.backtoproject a {
  cursor: pointer;
  border: none;
  outline: none;
  background: #2375bb;
  height: 60px;
  width: auto;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  right: 62px;
  line-height: 60px;
  padding: 0 20px;text-decoration: none; color:#fff
}

.backtoproject a .icon__arrowBack {
  transform: rotate(
    -180deg);
    fill:#fff;
}
g.highcharts-label.highcharts-tooltip text tspan {
  opacity: 0;
}

.usdata g.highcharts-label.highcharts-tooltip text tspan {
  opacity: 1;
}
.tableControls__tableControls---xaFW {
      position: relative;
  }
.tableControls__tableControls---xaFW .error {
      position: absolute;
      top: -30px;
      font-size: 12px;
      color: #FFF;
      background: red;
      padding: 2px 5px;
      opacity: 0;
      -webkit-transition: opacity .5s ease-in;
       -moz-transition: opacity .5s  ease-in;
        -ms-transition: opacity .5s  ease-in;
         -o-transition: opacity .5s  ease-in;
            transition: opacity .5s  ease-in;
  }
  .tableControls__tableControls---xaFW .error.show {
    opacity: 1;
  }
  
.geography__geography--3mpKN {
  width: 100%;
}

.backtoproject a:hover .icon__arrowBack{
  
}
.highcharts-label.highcharts-data-label.highcharts-data-label-color-0 ,.highcharts-exporting-group{display: none}
.highcharts-label.highcharts-data-label.highcharts-data-label-color-0 text{font-size: 0;}

.added_data {
  background-color: #f2fafc;
  
  }
  
  .breadcrumb__listItem--356LW+.breadcrumb__listItem--356LW:before {
    content: ">";
    margin: 0 4px;
    margin: 0 .25rem;
}
 .added_data a {text-decoration: none }
  .snapshotView__title--3T96M {
    color: #00467f;
    font-family: Roboto Condensed,sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.166666667;
    margin: 0 0 2rem;
}
.snapshotView__eyebrow--3vU1M, .snapshotView__title--3T96M {
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.mapView__title--1fHCm {
  color: #00467f;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.166666667;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  margin: 0 0 16px;
  margin: 0 0 2rem;
}
.geography__geography--3mpKN, .geography__indicatorCards--1M5lj, .geography__indicatorItem--2CV2-, .geography__indicatorList--iNCjA, .geography__section--Wa9p_, .geography__title--2mtVS, .geography__wrapper--1rn7y,
.landingPage__featuredIndicator--3lxJK, .landingPage__featuredIndicators--3KhjY, .landingPage__indicatorTitle--3PZOB, .landingPage__landingPage--oO1QM, .landingPage__landingPage--oO1QM h2, .landingPage__link--1QThw, .landingPage__markdown--3yd2k .landingPage__sup--2SmLm, .landingPage__markdown--3yd2k abbr, .landingPage__markdown--3yd2k acronym, .landingPage__markdown--3yd2k address, .landingPage__markdown--3yd2k a img, .landingPage__markdown--3yd2k b, .landingPage__markdown--3yd2k big, .landingPage__markdown--3yd2k cite, .landingPage__markdown--3yd2k code, .landingPage__markdown--3yd2k del, .landingPage__markdown--3yd2k em, .landingPage__markdown--3yd2k figcaption, .landingPage__markdown--3yd2k figure, .landingPage__markdown--3yd2k figure img, .landingPage__markdown--3yd2k h1, .landingPage__markdown--3yd2k h2, .landingPage__markdown--3yd2k h3, .landingPage__markdown--3yd2k h4, .landingPage__markdown--3yd2k h5, .landingPage__markdown--3yd2k h6, .landingPage__markdown--3yd2k hr, .landingPage__markdown--3yd2k i, .landingPage__markdown--3yd2k img, .landingPage__markdown--3yd2k kbd, .landingPage__markdown--3yd2k li, .landingPage__markdown--3yd2k ol, .landingPage__markdown--3yd2k ol>li, .landingPage__markdown--3yd2k ol>li>ol, .landingPage__markdown--3yd2k ol>li>ol>li>ol, .landingPage__markdown--3yd2k ol ol, .landingPage__markdown--3yd2k p, .landingPage__markdown--3yd2k p img, .landingPage__markdown--3yd2k pre, .landingPage__markdown--3yd2k strike, .landingPage__markdown--3yd2k strong, .landingPage__markdown--3yd2k sup, .landingPage__markdown--3yd2k table td, .landingPage__markdown--3yd2k table th, .landingPage__markdown--3yd2k tt, .landingPage__markdown--3yd2k ul, .landingPage__markdown--3yd2k ul>li, .landingPage__markdown--3yd2k ul>li>ul, .landingPage__markdown--3yd2k ul>li>ul>li>ul, .landingPage__markdown--3yd2k ul ul, .landingPage__markdown--3yd2k var, .landingPage__markdown--3yd2k video, .landingPage__section--1crvo, .landingPage__wrapper--1EAX8 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Source Sans Pro,sans-serif;
}

.header__siteHeader--3oiNE {
  background: -webkit-gradient(linear,left top,right top,from(#31bfce),to(#2580be));
  background: linear-gradient(
90deg
,#31bfce 0,#2580be);
  max-height: 33.4375em;
  padding: 14.375em 16px 7.8125em;
  padding: 14.375em 1rem 7.8125em;
  text-align: center;
  width: 100%;
}

.header__siteTitle--3LfnW {
  color: #fff;
  font-family: Roboto Condensed,sans-serif;
  font-size: 48px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1875;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.subNav__buttonList--2QEAD, .subNav__buttonList--2QEAD>*, .subNav__flatList--JMQPR.subNav__listLevel0--1s3U-, .subNav__flatList--JMQPR.subNav__listLevel0--1s3U- li, .subNav__flatList--JMQPR.subNav__listLevel1--1YiYb, .subNav__flatList--JMQPR.subNav__listLevel1--1YiYb li, .subNav__isItemParent--34hKX, .subNav__isParent--Hk24c, .subNav__isTerminalItem--3H36s, .subNav__link--1B_1G, .subNav__list--3u_xw, .subNav__listLevel0--1s3U-, .subNav__listLevel1--1YiYb, .subNav__listLevel1--1YiYb>li, .subNav__listLevel1--1YiYb>li.subNav__isItemTerminalItem--2sOXo, .subNav__multiLevelList--t4weA .subNav__isItemTerminalItem--2sOXo.subNav__itemLevel1--1EO0c .subNav__link--1B_1G, .subNav__subNav--uLP6O {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Source Sans Pro,sans-serif;
}
.subNav__buttonList--2QEAD, .subNav__subNav--uLP6O {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.subNav__subNav--uLP6O {
  margin-left: auto;
  margin-right: auto;
  max-width: 76.75em;
  padding: 1em;
}
.subNav__buttonList--2QEAD, .subNav__subNav--uLP6O {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.modalMenu__button--2nZxO {
  border: 0;
  padding: 0;
  font: normal 600 .875em/1 Source Sans Pro,sans-serif;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  padding: 8px;
  padding: .5rem;
  vertical-align: middle;
  background: transparent;
  border-width: 2px;
  border-width: .125rem;
  cursor: pointer;
  display: block;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 8px;
  margin: 0 .5rem;
  padding: 13.008px;
  padding: .813rem;
  text-transform: uppercase;
}
.landingPage__wrapper--1EAX8 {
  margin-left: auto;
  margin-right: auto;
  max-width: 76.75em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.landingPage__section--1crvo {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
  width: 100%;
}

.landingPage__markdown--3yd2k big, .landingPage__markdown--3yd2k h1, .landingPage__markdown--3yd2k h2, .landingPage__markdown--3yd2k h3, .landingPage__markdown--3yd2k h4, .landingPage__markdown--3yd2k h5, .landingPage__markdown--3yd2k h6 {
  color: #00467f;
  font-family: Roboto Condensed,sans-serif;
  font-weight: 700;
}


.landingPage__markdown--3yd2k h1:not([class]) {
  font: normal 700 2.25em/1.16667 Roboto Condensed,sans-serif;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.landingPage__landingPage--oO1QM h2 {
  color: #00467f;
  font-family: Roboto Condensed,sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.166666667;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}


.landingPage__featuredIndicators--3KhjY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
}


.landingPage__featuredIndicator--3lxJK {
  border-bottom: 1px solid #d8d8d8;
  padding: 32px;
  padding: 2rem;
  width: 100%;
}
.landingPage__section--1crvo p:not([class]) {
  color: #717073;
  font-family: Source Sans Pro,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.777777778;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.landingPage__featuredIndicator--3lxJK:focus, .landingPage__featuredIndicator--3lxJK:hover {
  background-color: rgba(144,180,188,.2);
}


.landingPage__featuredIndicator--3lxJK a,.header__siteHeader--3oiNE  a {

  text-decoration: none;
}


h5.modal-title{
  border-bottom: 2px solid #ddd;
  border-bottom: .125rem solid #ddd;
  color: #fff;
  font-family: Roboto Condensed,sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  padding: 16px 48px;
  padding: 1rem 3rem;
  text-transform: uppercase;
}
.toplevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.toplevel>li {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-right: 8px;
  margin-right: .5rem;
  min-width: 100px;
  min-width: 6.25rem;
}

.subNav__isParent--Hk24c {
  border-bottom: 1.008px solid #ddd;
  border-bottom: .063rem solid #ddd;
  font-weight: 700;
  padding-bottom: 4px;
  padding-bottom: .25rem;
  text-transform: uppercase;
}


.subNav__link--1B_1G {
  color: #fff;
  display: block;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}


.subNav__buttonList--2QEAD, .subNav__buttonList--2QEAD>*, .subNav__flatList--JMQPR.subNav__listLevel0--1s3U-, .subNav__flatList--JMQPR.subNav__listLevel0--1s3U- li, .subNav__flatList--JMQPR.subNav__listLevel1--1YiYb, .subNav__flatList--JMQPR.subNav__listLevel1--1YiYb li, .subNav__isItemParent--34hKX, .subNav__isParent--Hk24c, .subNav__isTerminalItem--3H36s, .subNav__link--1B_1G, .subNav__list--3u_xw, .subNav__listLevel0--1s3U-, .subNav__listLevel1--1YiYb, .subNav__listLevel1--1YiYb>li, .subNav__listLevel1--1YiYb>li.subNav__isItemTerminalItem--2sOXo, .subNav__multiLevelList--t4weA .subNav__isItemTerminalItem--2sOXo.subNav__itemLevel1--1EO0c .subNav__link--1B_1G, .subNav__subNav--uLP6O {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Source Sans Pro,sans-serif;
}
/* Indicatores */

.indicator__wrapper--2BWnR {
  margin-left: auto;
  margin-right: auto;
  max-width: 76.75em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.indicator__navigation--Hvj2b {
  width: 100%;
}
.tileNav__tileNav--2fxLJ {
  background-color: #fff;
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  margin: 0 auto 16px;
  margin: 0 auto 1rem;
  width: 100%;
}

.tileNav__title--2FIpr {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tileNav__list--2WB84 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.tileNav__listItem--2D2UY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.tile__activeTile--2Fn9j {
  background-color: #00467f;
}
.tile__icon--ESQzq {
  display: block;
  margin: 0 auto 8px;
  margin: 0 auto .5rem;
  max-height: 60px;
  max-height: 3.75rem;
  max-width: 40px;
  max-width: 2.5rem;
  width: 100%;
}
.tile__tile--2WrSa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 20px 0;
  padding: 1.25rem 1.25rem 0;
  width: 100%;
}
.tile__icon--ESQzq svg {
  display: block;
  fill: #717073;
  width: 100%;
}
.tile__label--1-JXs {
  color: #717073;
  font-family: Source Sans Pro,sans-serif;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1.008px;
  letter-spacing: .063rem;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.tile__activeTile--2Fn9j .tile__label--1-JXs {
  color: #fff;
}

.tile__activeTile--2Fn9j .tile__icon--ESQzq svg {
  fill: #fff;
}

.tileNav__listItem--2D2UY:after {
  border: 1px solid #d8d8d8;
  content: "";
  display: block;
  height: calc(100% - 2rem);
  margin: auto 0;
  width: 0;
}

.tileNav__listItem--2D2UY:last-child:after{
  display:none
}
.tile__tile--2WrSa:focus, .tile__tile--2WrSa:hover {
  background-color: #00467f;
}
.tile__tile--2WrSa:focus .tile__icon--ESQzq svg, .tile__tile--2WrSa:hover .tile__icon--ESQzq svg {
  fill: #fff;
}

.tile__tile--2WrSa:focus .tile__label--1-JXs, .tile__tile--2WrSa:hover .tile__label--1-JXs {
  color: #fff;
}
.indicator__content--pI1Ue {
  width: 100%;
}
.breadcrumb__breadcrumb--31TQm {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.indicatorHeader__indicatorHeader--2QneH {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
}


.indicatorHeader__title--1fN9_ {
  color: #00467f;
  font-family: Roboto Condensed,sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.166666667;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.snapshotView__snapshotMap--2WqXT {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.endnote__endnote--B5G4b {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
}

.endnote__title--1eNFn {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.textBlock__textBlock--3itV7 {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.textBlock__title--2feHS {
  color: #218291;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1.008px;
  letter-spacing: .063rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.endnote__endnote--B5G4b p:not([class]) {
  color: #717073;
  font-family: Source Sans Pro,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.777777778;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}


.tableView__section--1u-NQ {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
}
.tableControls__tableControls---xaFW {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.tableControls__controlList--1XSwR {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}


.tableControls__controlList--1XSwR>:not(:last-child), .tableControls__tableActions--1EOlX {
  margin-right: 16px;
  margin-right: 1rem;
}

.tableControls__controlList--1XSwR, .tableControls__tableControls---xaFW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.tabs__tabs--1BhBF {
  background-color: transparent;
}
.tabs__active--mEBM9, .tabs__tab--1OFIt, .tabs__tabs--1BhBF, .tabs__tabs--1BhBF+* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Source Sans Pro,sans-serif;
}
.tabs__tab--1OFIt:after {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 10px;
  height: .625rem;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  width: 100%;
}
.tabs__tab--1OFIt {
  background-color: #fff;
  border-radius: .25rem;
  border-top: 3.008px solid transparent;
  border-top: .188rem solid transparent;
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  color: #717073;
  display: inline-block;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.166666667;
  margin: 0;
  padding: 10px 30px;
  padding: .625rem 1.875rem;
  position: relative;
  text-transform: uppercase;
  z-index: 0;
}
.tabs__tabs--1BhBF+* {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.mapView__container--2pFoy {
  padding: 32px;
  padding: 2rem;
}

.tabs__active--mEBM9, .tabs__tab--1OFIt:focus, .tabs__tab--1OFIt:hover {
  border-top-color: #00467f;
  color: #00467f;
  z-index: 2;
}

.mapView__controlList--3yzJo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.mapView__controlList--3yzJo>* {
  display: block;
}

.mapView__controlList--3yzJo>:not(:last-child) {
  margin-right: 16px;
  margin-right: 1rem;
}


.mapView__controls--dYhbX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.button__button--29WcI {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 1.008px;
  letter-spacing: .063rem;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.button__text--iaRCm {
  background-color: transparent;
  background-image: none;
  border: 0;
  color: #218291;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 7.008px 0;
  padding: .438rem 0;
}

.button__icon--3kFLd {
  display: inline-block;
  height: 12px;
  height: .75rem;
  margin-right: 1em;
  width: 12px;
  width: .75rem;
}

.button__icon--3kFLd svg {
  height: 100%;
}

.mapView__controlList--3yzJo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}

.button__icon--3kFLd path {
  fill: #218291;
}.mapView__shareControls--226qE {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flyoutButton__flyoutButton--2xVFW {
  position: relative;
}

.button__button--29WcI {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 700;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 1.008px;
  letter-spacing: .063rem;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.button__knockout--2JPnu {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  font: normal 600 .875em/1 Source Sans Pro,sans-serif;
  background: -webkit-gradient(linear,left top,right top,from(#31bfce),to(#2580be));
  background: linear-gradient(
90deg,#31bfce 0,#2580be);
  color: #fff;
  display: inline-block;
  padding: 1em 2em;
  text-transform: uppercase;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 700;
  padding: 7.008px 15.008px;
  padding: .438rem .938rem;
}

.flyoutButton__closedFlyout--SVWgS {
  display: none;
}

.flyoutButton__openFlyout--3DB7Z {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  display: block;
  font-size: 13.008px;
  font-size: .813rem;
  margin-top: -16px;
  margin-top: -1rem;
  padding: 8px;
  padding: .5rem;
  position: absolute;
  right: 0;
  z-index: 3;
}

.embedControls__embedControls--1st-l {
  width: 300px;
  width: 18.75rem;
}
.embedControls__embedControls--1st-l li {margin: 5px 0;}

 textarea.embedControls__textarea--48GSi {
  border: none;
  outline: none;
  border-radius: 1px;
  width: 280px;
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  padding: 3px;
  margin: 10px;
  -webkit-appearance: none;
}
.embedControls__label--3d-ov {
  color: #218291;
  font-family: Source Sans Pro,sans-serif;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1.008px;
  letter-spacing: .063rem;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 0;
}

.embedControls__textarea--48GSi {
  width: 100%;
}
.shareControls__shareControls--2_25c a {
  color: #2375bb;
  text-decoration: none;
}
 

.shareControls__shareControls--2_25c {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Source Sans Pro,sans-serif;
  width: 150px;
  width: 9.375rem;
}

.shareControls__shareControls--2_25c li:not(:last-child) {
  margin-bottom: .5em;
}

.table__wrapper--3OYlZ {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.table__table--3bKbs {
  border-collapse: inherit;
  width: 100%;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;

}.tableHeader__row--1NAZs, .tableHeader__tableHeader--3GCI2 {
  vertical-align: middle;
}


.tableHeader__cell--2OaSu {
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  color: #00467f;
  cursor: pointer;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.16667;
  padding: 8px 8px 8px 32px;
  padding: .5rem .5rem .5rem 2rem;
  text-transform: uppercase;
  vertical-align: middle;
}.tableHeader__innerHeader--ToBgE {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto Condensed,sans-serif;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tableHeader__arrow--1TZe2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
  font-size: .5rem;
  line-height: 1;
  margin-left: 16px;
  margin-left: 1rem;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.tableHeader__cell--2OaSu {
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  color: #00467f;
  cursor: pointer;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.16667;
  padding: 8px 8px 8px 32px;
  padding: .5rem .5rem .5rem 2rem;
  text-transform: uppercase;
  vertical-align: middle;
}


.tableHeader__innerHeader--ToBgE {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto Condensed,sans-serif;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tableHeader__arrow--1TZe2[aria-hidden=true] {
  visibility: hidden;
}

.tableHeader__yearDisplay--3pHjf {
  text-align: center;
  width: 100%;
}
.tableHeader__alignLeft--p9LD6 {
  border-right: 1px solid #d8d8d8;
  max-width: 175.008px;
  max-width: 10.938rem;
  text-align: left;
  white-space: normal;
  width: 50%;
}

.table__body--2IAzp {
  vertical-align: middle;
}

.tableRow__tableRow--1Cef0 {
  background-color: #fff;
  vertical-align: middle;
}
.tableRow__tableRow--1Cef0.hide {display: none}
.tableRow__cell--1DAHx.tableRow__highlightedCell--1_Zd_ {
  background-color: #f1f1f1;
  color: #717073;
  font-weight: 700;
  text-transform: uppercase;
}

.tableRow__cell--1DAHx.tableRow__highlightedCell--1_Zd_ {
  background-color: #f1f1f1;
  color: #717073;
  font-weight: 700;
  text-transform: uppercase;
}
.tableRow__tableRow--1Cef0:nth-child(2n) .tableRow__cell--1DAHx:not(.tableRow__highlightedCell--1_Zd_) {
  background-color: #f2fafc;
}

.mapViewTable__mapViewTable--1lskH {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
}

.table__wrapper--3OYlZ {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.table__narrowWrapper--23L4Q {
  max-width: 500px;
  max-width: 31.25rem;
}

.tabsection.hide {display: none}


@media (min-width: 48em)
{
  
  .indicator__content--pI1Ue {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 10/12 - 2.666666666666666px);
    max-width: calc(99.9% * 10/12 - 2.666666666666666px);
    width: calc(99.9% * 10/12 - 2.666666666666666px);
}

  .tileNav__listItem--2D2UY:after {
    height: 0;
    margin: 0 auto;
    width: calc(100% - 2rem);
}

  .tileNav__listItem--2D2UY {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
  .tileNav__list--2WB84 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
  .indicator__navigation--Hvj2b {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 2/12 - 13.333333333333334px);
    max-width: calc(99.9% * 2/12 - 13.333333333333334px);
    width: calc(99.9% * 2/12 - 13.333333333333334px);
}

.indicator__navigation--Hvj2b:nth-child(1n) {
    margin-right: 16px;
    margin-left: 0;
}

.tileNav__tileNav--2fxLJ {
  max-width: 7.5rem;
}

}




/* Geo Info */ 

.geography__geography--3mpKN {
  width: 100%;
}

.geography__wrapper--1rn7y {
  margin-left: auto;
  margin-right: auto;
  max-width: 76.75em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.geographyHeader__geographyHeader--3X7Cg {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}


.geographyHeader__wrapper--3zhcJ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
}

.geographyHeader__title--2hTuQ {
  color: #00467f;
  font-family: Roboto Condensed,sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.166666667;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  width: 100%;
}

.geographyHeader__breadcrumb--2v-li {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
}

.breadcrumb__breadcrumb--31TQm {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.breadcrumb__breadcrumb--31TQm ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.breadcrumb__listItem--356LW {
  display: inline;
}
rect.highcharts-background {
  stroke: #fff;
}
.breadcrumb__link--3QWaS, .breadcrumb__listItem--356LW+.breadcrumb__listItem--356LW:before {
  color: #218291;
  font-family: Source Sans Pro,sans-serif;
  font-size: 12px;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: 1.008px;
  letter-spacing: .063rem;
  line-height: 1.25;
  text-transform: uppercase;
}

.geographyHeader__menu--3fVgV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 0;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding: 0;
  width: auto;
}

.geographyHeader__button--3LZuU {
  border: 0;
  padding: 0;
  font: normal 600 .875em/1 Source Sans Pro,sans-serif;
  border: 1px solid #218291;
  display: inline-block;
  padding: 8px;
  padding: .5rem;
  vertical-align: middle;
  background: transparent;
  border-width: 2px;
  border-width: .125rem;
  cursor: pointer;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 8px;
  margin: 0 .5rem;
  padding: 13.008px;
  padding: .813rem;
  text-transform: uppercase;
  border-color: #218291;
  color: #218291;
  display: block;
  white-space: nowrap;
}

.geography__indicatorCards--1M5lj {
  width: 100%;
}


.geography__indicatorList--iNCjA {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}
.geography__indicatorItem--2CV2- {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/2 - 8px);
  max-width: calc(99.9% * 1/2 - 8px);
  width: calc(99.9% * 1/2 - 8px);
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.indicatorCard__indicatorCard--2XjUZ {
  -webkit-box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  box-shadow: 0 0.063rem 0.188rem 0 #90b4bc;
  background-color: #fff;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  padding: 32px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 18px;
  padding: 1.125rem;
  width: 100%;
}

.indicatorCard__list--3mdU9 {
  width: 100%;
}

.indicatorCard__thisGeography--1FSAa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.indicatorCard__title--1Xemc {
  color: #00467f;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.16667;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-transform: uppercase;
  width: 100%;
}

.indicatorCard__value--2vqxh {
  color: #717073;
  font-family: Source Sans Pro,sans-serif;
  font-size: 48px;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.25;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
}

.indicatorCard__parentGeography--2k72p {
  width: 100%;
}


.indicatorCard__parentGeographyTitle--1O_Hy {
  margin-right: .5ch;
}

.indicatorCard__parentGeography--2k72p>* {
  color: #717073;
  display: inline;
  font-size: 14px;
  font-size: .875rem;
  line-height: 2.28571;
}


.indicatorCard__parentGeography--2k72p>* {
  color: #717073;
  display: inline;
  font-size: 14px;
  font-size: .875rem;
  line-height: 2.28571;
}


.indicatorCard__viewAll--23XcK {
  border-top: 1px solid #d8d8d8;
  color: #717073;
  font-size: 14px;
  font-size: .875rem;
  padding-top: 7.008px;
  padding-top: .438rem;
  text-align: right;
  width: 100%;
}


.indicatorCard__viewAll--23XcK:after {
  content: "\203A";
  padding-left: 1ch;
}



@media (min-width: 32em)
{
  .breadcrumb__breadcrumb--31TQm ol {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
}


.geography__indicatorItem--2CV2-:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}


@media (min-width: 48em){

.geographyHeader__wrapper--3zhcJ:nth-child(1n) {
    margin-right: 16px;
    margin-left: 0;
}

.geography__indicatorItem--2CV2-:nth-child(1n) {
  margin-right: 16px;
  margin-left: 0;
}



.geographyHeader__wrapper--3zhcJ {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/2 - 8px);
  max-width: calc(99.9% * 1/2 - 8px);
  width: calc(99.9% * 1/2 - 8px);
}

.geographyHeader__menu--3fVgV:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}

.geographyHeader__menu--3fVgV {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/2 - 8px);
  max-width: calc(99.9% * 1/2 - 8px);
  width: calc(99.9% * 1/2 - 8px);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.geography__indicatorItem--2CV2- {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/3 - 10.666666666666668px);
  max-width: calc(99.9% * 1/3 - 10.666666666666668px);
  width: calc(99.9% * 1/3 - 10.666666666666668px);
}
.geography__indicatorItem--2CV2-:nth-child(1n) {
  margin-right: 16px;
  margin-left: 0;
}

.geography__indicatorItem--2CV2-:nth-child(3n) {
  margin-right: 0;
  margin-left: auto;
}


}


.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
 
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
 
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          background: -webkit-gradient(linear,left top,right top,from(#31bfce),to(#2580be));
          background: linear-gradient(
      90deg
      ,#31bfce 0,#2580be);
          border-radius: .188rem;
          height: 100%;
          overflow-y: scroll;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  padding: 15px;
 // border-bottom: 1px solid #e5e5e5;
 position: relative;
}
.modal-header .close {
  width: 24px;
  height: 24px;
  top:1em;
  right: 1em;
  position: absolute;
  background: none;
  color:#fff;
  border:none
}

.modal-header .close svg {
  fill: #fff;
  height: 100%;
  width: 100%;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.subNav__flatList--JMQPR.subNav__listLevel0--1s3U-, .subNav__flatList--JMQPR.subNav__listLevel1--1YiYb {
  -webkit-columns: 8rem 5;
  columns: 8rem 5;
  padding: 1rem 3rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Source Sans Pro,sans-serif;
}

.subNav__flatList--JMQPR.subNav__listLevel0--1s3U- li, .subNav__flatList--JMQPR.subNav__listLevel1--1YiYb li {
  break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -moz-page-break-inside: avoid;
  page-break-inside: avoid;
}

.subNav__link--1B_1G {
  color: #fff;
  display: block;
  font-family: Roboto Condensed,sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  text-decoration: none;
}

.tableRow__alignLeft--1279y {
  border-right: 1px solid #d8d8d8;
  max-width: 175.008px;
  max-width: 10.938rem;
  text-align: left;
  white-space: normal;
}

.tableRow__cell--1DAHx {
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  padding: 0 8px 0 32px;
  padding: 0 .5rem 0 2rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}



.tableRow__cell--1DAHx {
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
  padding: 0 8px 0 32px;
  padding: 0 .5rem 0 2rem;
  text-align: right;
  vertical-align: middle;
  white-space: nowrap;
}

.tableRow__alignLeft--1279y {
  border-right: 1px solid #d8d8d8;
  max-width: 175.008px;
  max-width: 10.938rem;
  text-align: left;
  white-space: normal;
}
.tableRow__tableRow--1Cef0:nth-child(2n) .tableRow__cell--1DAHx:not(.tableRow__highlightedCell--1_Zd_) {
  background-color: #f2fafc;
}


@media (min-width: 768px) {
  .modal-dialog {
    width: calc(100vw - 4rem);
    height: calc(80vh);
    margin:  10vh auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
      
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width: 48em){
.landingPage__featuredIndicator--3lxJK {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
}
.landingPage__featuredIndicator--3lxJK:nth-child(odd) {
    border-right: 1px solid #d8d8d8;
}

}


@media (min-width: 32em)
{
.subNav__buttonList--2QEAD {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
}
